{% extends "layout.html" %}

{% block title %}Puppy Discussion{% endblock %}

{% block content %}
  <h1>Puppy Discussion</h1>
  <p>This is a positive puppy talk forum ONLY. Please feel free to discuss your favorite pups and funny stories about your own dog or dogs! Adoption shelter suggestions are always welcome. <br> <bold> No cat-related comments! </bold> <br> Any user who attempts to mention cats on this forum will promptly learn their lesson.</p>
  
 
  {% if logged_in %}
    <form action='/posted' method="post">
      <textarea name="message" style="width:100%; height:100px;"></textarea>
      <br>
      <input type="submit" value="Post">
    </form>
  {% else %}
    <p>Log in to post!</p>
  {% endif %}

  {{ past_posts }}

{% endblock %}

